---
import Header from "./Header.astro";
import Servicios from "./Servicios.astro";
import Precios from "./Precios.astro";
---

<div
  class="min-h-screen mx-auto bg-linear-to-b from-stone-950 via-black to-stone-950"
>
  <div class="container mx-auto px-4 text-white">
    <Header />
    <Servicios />
    <Precios />
    <footer class="py-6 md:py-12 text-center border-t border-stone-800">
      <p class="text-sm md:text-base">
        &copy; 2025 - Carwash Black. Desarrollado por
        <span class="text-blue-500 hover:underline"> Er1kDev</span>
        con Astro
      </p>
    </footer>
  </div>
</div>
