---
import Header from "./Header.astro";
import Servicios from "./Servicios.astro";
import Precios from "./Precios.astro";
---

<div
  class="min-h-screen mx-auto bg-linear-to-b from-stone-950 via-black to-stone-950"
>
  <div class="container mx-auto px-4 text-white">
    <Header />
    <Servicios />
    <Precios />
    <div class="py-6 md:py-12 text-center">
      <h3>© 2025 - Carwash Black.</h3>
      <p>Desarrollado por Er1kDev con Astro</p>
    </div>
  </div>
</div>
