---
import { Image } from "astro:assets";
import automovilesImage from "../assets/images/automoviles.webp";
import motoEnduroImage from "../assets/images/moto_enduro.webp";
import furgonImage from "../assets/images/furgon.webp";
import suvJeepImage from "../assets/images/suv_jeep.webp";
import camionetaImage from "../assets/images/camioneta.webp";
import camionetasXlImage from "../assets/images/camionetas_xl.webp";

const servicios = [
  {
    nombre: "Motocicletas Enduros",
    precio: 13000,
    image: motoEnduroImage,
  },
  {
    nombre: "City Car & Sedán",
    precio: 18000,
    image: automovilesImage,
  },
  {
    nombre: "Furgón",
    precio: 20000,
    image: furgonImage,
  },
  {
    nombre: "Suv o Jeep",
    precio: 25000,
    image: suvJeepImage,
  },
  {
    nombre: "Camionetas",
    precio: 28000,
    image: camionetaImage,
  },
  {
    nombre: "Camionetas XL",
    precio: 33000,
    image: camionetasXlImage,
  },
];
---

<div class="pb-10 animate-blurred-fade-in">
  <h3 class="py-12 text-center text-4xl md:text-4xl font-semibold">Precios</h3>
  <div class="grid grid-cols-1 gap-8 md:grid-cols-3 px-4 md:px-12">
    {
      servicios.map((servicio) => (
        <div class="flex flex-col items-center border border-[#1C1C1C] bg-[#171717] rounded-lg shadow-lg py-2 hover:scale-105 transition-transform duration-300">
          <div class="h-full flex flex-col items-center justify-start">
            <Image
              src={servicio.image}
              alt={servicio.nombre}
              loading="lazy"
              class="object-cover h-40 md:h-60 rounded-xl"
            />
            <h3 class="text-2xl md:text-3xl font-semibold py-2 text-center">
              {servicio.nombre}
            </h3>
            <p class="text-3xl font-semibold text-gray-300 mb-2 text-center">
              {servicio.precio.toLocaleString("es-CL", {
                style: "currency",
                currency: "CLP",
              })}
            </p>
          </div>
        </div>
      ))
    }
  </div>
</div>
